<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/notepad.png" alt="">
  </div>
  <div class="headings">
    <h2>Notepad PAGE</h2>
    <h3>By Shanmukh</h3>
    <a href="/blogs/index" class="btn">View Notes</a>
  </div>
</header>


<%- include('partials/footer'); -%>